<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
      {% block head %}
      <title>{% block title %}{% endblock %}</title>
      {% endblock %}
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      {% include 'background.html' %}
</head>
<body>
  {% include 'nav.html' %}
  
    <div class="container mt-4" >
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message }}
      </div>
      {% endfor %}

      {% block page_content %}{% endblock %}

  
    </div>
    
  </body>
  <script src="../static/js/jquery-3.3.1.slim.min.js" ></script>
  <script src="../static/js/popper.mim.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>

</html>
